body {
  background: rgb(235, 235, 235);
  margin: 0;
  padding: 0;
  font-family: Oxygen, system-ui, sans-serif !important;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  place-content: center;
  text-align: center;
  position: relative;
}
